body {
  background-color: lightgreen;
  color:black;
}

input {
  background-color: lightseagreen;
}
select {
  background-color: lightseagreen;
}

.jumbotron {
  background-color: greenyellow;
  color: cadetblue;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.card-header {
  background-color: lightseagreen;
  color: yellow;
}

.card-body {
  background-color: thistle;

}

.tg td {
  background-color: aquamarine;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg th {
  background-color: cadetblue;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg .tg-lu0m {
  color: rgb(0, 0, 0);
  text-align: left;
  vertical-align: top
}

.tg .tg-2kyj {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
  vertical-align: top
}